/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Remove list styles (bullet points, etc) */

ul, li {
    list-style: none;
}

/* Set default link styles */

a {
    color: inherit;
    text-decoration: none;
}

/* Box sizing reset */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* ============================ */



span {
    color: blue;
}

h1 {
    color: rgb(231, 22, 179);
}

.chord {
    color: red;
}

pre {
    color: rgb(0, 0, 0);
    font-size: 15px ;
    background-color: rgb(250, 201, 110);
}


/* styles for screens less than or equal to 600px wide */
@media (max-width: 600px) {
    body {
      font-size: 14px;
    }
  }
  
  /* styles for screens between 600px and 1200px wide */
  @media (min-width: 600px) and (max-width: 1200px) {
    body {
      font-size: 16px;
    }
  }
  
  /* styles for screens greater than 1200px wide */
  @media (min-width: 1200px) {
    body {
      font-size: 18px;
    }
  }
  